<mat-card elevation="5" fxFlex class="content">

    <mat-card-title>
        <h2>{{title}}</h2>
    </mat-card-title>

    <mat-card-content>

        <form (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
            <mat-form-field>
                <label>current password: </label>
                <input formControlName="current" matInput type="password">
            </mat-form-field>
            <mat-form-field>
                <label>New password: </label>
                <input formControlName="password" matInput type="password">
            </mat-form-field>
            <mat-form-field>
                <label>passoword: </label>
                <input formControlName="confirm" matInput type="password">
            </mat-form-field>
            <button [disabled]="!form.valid" color="primary" mat-raised-button type="submit">Change password</button>
            <br>
            <button color="primary" mat-raised-button routerLink="/">Go Back</button>
        </form>
        <br>
        <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
        <br>
        <hr>
    </mat-card-content>

</mat-card>