<h3>Group name: {{group.name}}</h3>
<h4>Group description: {{group.description}}</h4>

<div *ngIf="!isBlockedMember()">
    <button *ngIf="!isMember()" (click)="sendGroupRequest()">Send group request</button>
</div>

<button *ngIf="isAdmin()" (click)="suspendGroup()">Suspend group</button>

<td><button (click)="deleteGroup(group.id)" *ngIf="isGroupAdmin()">delete</button></td>


<form (ngSubmit)="onSubmitSuspend()" *ngIf="suspending" [formGroup]="suspendForm">
    <div>
        <label>Description</label>
        <div>
            <input type="text" id="description" placeholder="description" name="description" formControlName="description"
                [(ngModel)]="suspend.description" required minlength="5">
        </div>
    </div>

    <div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </div>
</form>



<ul *ngIf="isGroupAdmin()">
    <h3>Group Requests</h3>
    <li *ngFor="let request of groupRequests">
        <p>Group request sent by: {{request.user.username}}</p>
        <button (click)="approveRequest(request.id)">approve</button>
        <button (click)="declineRequest(request.id)">decline</button>
    </li>
</ul>

<div class="" *ngIf="isGroupAdmin()">
    <h3>Reported posts</h3>
    <div class="">
        <ul *ngFor="let report of reportedPosts$ | async">
            <li>Post content : {{report.reportedPost.content}}</li>
            <li>Report reason : {{report.reason}}</li>
            <li><button (click)="acceptReport(report.id)">Accept</button> 
                <button (click)="declineReport(report.id)">Decline</button></li>
        </ul>
    </div>
</div>

<div class="" *ngIf="isGroupAdmin()">
    <h3>Reported comments</h3>
    <div class="">
        <ul *ngFor="let report of reportedComments$ | async">
            <li>Comment content : {{report.reportedComment.text}}</li>
            <li>Report reason : {{report.reason}}</li>
            <li><button (click)="acceptReport(report.id)">Accept</button> 
                <button (click)="declineReport(report.id)">Decline</button></li>
        </ul>
    </div>
</div>

<ul *ngIf="isGroupAdmin()">
    <h3>Group Admins</h3>
    <li *ngFor="let admin of groupAdmins">
        
        <p>Group admin: {{admin.username}}
            <button *ngIf="isAdmin()" (click)="deleteGroupAdmin(admin.id)">remove admin</button>
        </p>
    </li>
</ul>

<ul *ngIf="isMember()">
    <h3>Group Members</h3>
    <li *ngFor="let member of groupMembers">
        <p>Group member: {{member.username}} 
            <button *ngIf="isGroupAdmin() && !isUserAdmin(member.username)" (click)="promoteMember(member.id)">
                promote</button>
            <button *ngIf="isGroupAdmin() && !isUserAdmin(member.username)" (click)="blockMember(member.id)">block member</button>
        </p>
    </li>
</ul>

<ul *ngIf="isGroupAdmin()">
    <h3>Blocked Members</h3>
    <li *ngFor="let member of blockedMembers">
        
        <p>User : {{member.username}}
            <button *ngIf="isAdmin()" (click)="unblockMember(member.id)">unblock user</button>
        </p>
    </li>
</ul>

<form (ngSubmit)="onSubmit()" *ngIf="!submitted && isMember()" [formGroup]="form">
    <h3>Create post</h3>
    <div>
        <label>Content</label>
        <div>
            <input type="text" id="content" placeholder="Content" name="Content" formControlName="content"
                [(ngModel)]="post.name" required minlength="5">
        </div>
    </div>

    <div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </div>
</form>

<div>
    <div *ngIf="isMember()">
        <app-table [posts]="groupPosts$"></app-table>
    </div>
</div>

<div *ngIf="selectedPost">

    <h3>Post content: {{selectedPost.content}}</h3>
    <h4>Created by: {{selectedPost.user.username}}</h4>

    <ul *ngFor="let comment of comments">
        <li>Comment text: {{comment.text}}</li>

        <form (ngSubmit)="onSubmitReply(comment.id)" *ngIf="!submitted" [formGroup]="formReply">
            <div>
                <label>Reply</label>
                <div>
                    <input type="text" id="commentText" placeholder="CommentText" name="CommentText"
                        formControlName="commentText" [(ngModel)]="reply.commentText" required minlength="5">
                </div>
            </div>

            <div>
                <div>
                    <button type="submit">Submit reply</button>
                </div>
            </div>
        </form>

        <div>
            <h5>Replies</h5>
            <app-comment [commentId]="comment.id">
            </app-comment>
        </div>

    </ul>



    <br>

    <form (ngSubmit)="onSubmitComment(selectedPost.id)" *ngIf="!submitted" [formGroup]="formComment">
        <div>
            <label>Comment content</label>
            <div>
                <input type="text" id="commentText" placeholder="CommentText" name="CommentText"
                    formControlName="commentText" [(ngModel)]="comment.commentText" required minlength="5">
            </div>
        </div>

        <div>
            <div>
                <button type="submit">Submit comment</button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="editing" class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <label for="cont_i" name="cont_f">Content</label>
        <br>
        <textarea id="cont_i" type="text" formControlName="content" required></textarea>
        <br>
        <button type="submit">Save</button>
    </form>
</div>

